[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.2.*"
concurrent-log-handler = "==0.9.16"
djangorestframework = "==3.12.4"
mysqlclient = "==2.0.3"
uwsgi = "==2.0.18"
djangorestframework-xml = "==2.0.0"
django-hosts = "==4.0"
django-cors-headers = "==3.7.0"

[requires]
python_version = "3.6"
