-i https://pypi.org/simple/
concurrent-log-handler==0.9.16
defusedxml==0.7.1
django-cors-headers==3.7.0
django-hosts==4.0
django==2.2.20
djangorestframework-xml==2.0.0
djangorestframework==3.10.2
mysqlclient==1.4.4
portalocker==2.3.0
pytz==2021.1
sqlparse==0.4.1
uwsgi==2.0.18
